{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تأیید تراکنش</title>
</head>
<body>
    <h1>تأیید تراکنش</h1>
    <p>شماره حساب مبدأ: {{ from_account.account_number }}</p>
    <p>نام صاحب حساب مبدأ: {{ from_account.user.username }}</p>
    <p>شماره حساب مقصد: {{ to_account.account_number }}</p>
    <p>نام صاحب حساب مقصد: {{ to_account.user.username }}</p>
    <p>مبلغ: {{ amount }}</p>
    <p>توضیحات: {{ description }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">تأیید</button>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}


</body>
</html>